img{
    width:150px;
    height:150px;
    }

#divCinema {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.spancinema {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: lightblue
}

#divFilm {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 300px;
    flex-direction: row;
    background-color: orange;
    
}